.signupContainer{
        background-image: url("../../images/bailey-zindel-396398-unsplash.jpg");
        background-size:cover;
        height: 900px;
        width: 100%;
        background-repeat: no-repeat;
        font-family: cursive;
    }




