/* footer h5 {
    font-size: 32px;
} */

.ffoot {
    text-align: center;
    background-image: linear-gradient(55deg,#488192 25%,#b3d2d8);
    font-display: bolder;
    height: 100%;
    width: 100%;
    padding-top: 30px;
    margin-top: 30px;
}

.ffooterTitle {
    font-family: 'Indie Flower', cursive;
    position: relative;
    bottom: 75px;
    right: 50px;
    color: white;
}

.fwhite-text {
    color: white;
    margin-right: 550px;
}

.fgrey-text {
    font-family: 'Merienda', cursive;
    color: white;
}

.fdotts {
    list-style-type: none;
}

.fabout {
    padding-top: 65px;
}

.fsignupEmail {
    margin-right: 40px;
    color: white;
    font-family: 'Merienda', cursive;
}

.fcopywrite {
    color: white;
    margin-right: 50px;
}