.Vlinks{
    height: 400px;
    width: 100%;
    overflow-y: auto;
    background-color:rgba(193, 193, 193, 0.2);
    margin: auto 0%;

}

.videoList{
    display: block;
}

.Olinks{
    height: 400px;
    width: 730px;
    overflow-y: auto;
    background-color:rgba(193, 193, 193, 0.2);
    margin-right:-110%;  
}

.Alinks{
    height: 400px;
    width:350px;
    overflow-y: auto;
    background-color:rgba(193, 193, 193, 0.2);
}
