.landingHeader {
    position: relative;
    height: 600px;
    width: 100%;
    background-image: linear-gradient(55deg,#488192 25%,#b3d2d8);   
}

.title {
    padding: 10px;
    font: 50px "Arial";
    margin-left: -60px;
    font-family: 'Indie Flower', cursive;
    width: 50%;
}

.signUpBtn, 
.loginBtn,
.homeBtn,
.logoutBtn {
    margin-top: 20px
}

.landingHeader h1 {
    color: white;
}

.paragraph {
    color: white;
    text-align: center;
    padding: 90px;
    font-family: 'Merienda', cursive;
    font-size: 20px;
}

.author {
    color: white;
    margin-top: -10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

svg {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 10vw;
    /* set height to pixels if you want angle to change with screen width */
}

.btn-primary {
    float: right;
    margin-right: 20px;
    padding-bottom: 10px;
    background-color: rgb(187, 185, 189) !important;
    border: 1px solid #b3d2d8;
}

.btn-danger {
    float: right;
    margin-right: 20px;
    padding-bottom: 10px;
    background-color: rgb(187, 185, 189) !important;
    border: 1px solid #b3d2d8;
}

.left-column {
    padding: 15px 15px 0 15px;
    background: rgb(150, 98, 98);
}

.foot {
    margin: 0;
    padding: 10px;
    /* text-align: center;
    background-image: linear-gradient(55deg,#488192 25%,#b3d2d8);
    font-display: bolder;
    height: 100%;
    width: 100%;
    padding-top: 30px;
    margin-top: 30px; */
}

.footerTitle {
    display:none;
    /* font-family: 'Indie Flower', cursive;
    position: relative;
    bottom: 75px;
    right: 50px;
    color: white; */
}

/* .foot {
    text-align: center;
    background-image: linear-gradient(55deg,#488192 25%,#b3d2d8);
    font-display: bolder;
    height: 100%;
    width: 100%;
    padding-top: 30px;
    margin-top: 30px;
}

.footerTitle {
    font-family: 'Indie Flower', cursive;
    position: relative;
    bottom: 75px;
    right: 50px;
    color: white;
} */

.white-text {
    color: white;
    margin-right: 550px;
}

.grey-text {
    font-family: 'Merienda', cursive;
    color: white;
}

.dotts {
    list-style-type: none;
}

.about {
    padding-top: 65px;
}

.signupEmail {
    margin-right: 40px;
    color: white;
    font-family: 'Merienda', cursive;
}

.copywrite {
    color: white;
    margin-right: 50px;
}

#picture {
    position: absolute;
    left: 0px;
    top: 0px;
    z-index: 10;
    padding: 70px;
    height: 550px;
    border: 2px solid rgb(112, 110, 110);
    border-radius: 5px;
}

@keyframes example {
    0%   {background-color:rgb(112, 110, 110); left:0px; top:0px;}
    25%  {background-color:#488192; left:200px; top:0px;}
}

/* The element to apply the animation to */
#picture {
    width: 414px;
    height: 450px;
    position: relative;
    animation-name: example;
    animation-duration: 1s;
}

.Breakdown {
    margin-top: 70px;
    font-family: 'Indie Flower', cursive;
    font: 28px;
} 

.getStarted {
    margin-top: 70px;
    font-family: 'Indie Flower', cursive;
    font: 28px;
}

.freshStart {
    margin-top: 70px;
    font-family: 'Indie Flower', cursive;
    font: 28px;
}

.rows {
    margin-top: 50px;
}

.middleRow {
    margin-top: 40px;
    margin-bottom: 40px;
}

img {
    width: 414px;
    height: 396px;
}




@-webkit-keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}

.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
}

@import url('https://fonts.googleapis.com/css?family=Indie+Flower');

@import url('https://fonts.googleapis.com/css?family=Merienda');


@media only screen and (max-width: 618px) {
    .title {
        font-size: 40px;
        margin-left: 10px;
    } .footerTitle{
        top: 4px;
        left: 5px;
    } 
}

@media only screen and (max-width: 1000px) {
    div#pic {
        display: none;
    }

}

@media only screen and (max-width: 375px) {
    .paragraph {
        width: 100%;
        padding: 0px;
    } .title {
        margin-left: 10px;
        font-size: 20px;
    }
}

