header {
  position: relative;
  height: 600px;
  width: 100%;
  background-image: linear-gradient(55deg,#488192 25%,#b3d2d8);   
}

h1 {
  padding: 10px;
  font: 44px "Arial";
  margin-left: -90px;
  font-family: cursive
  
}

section h2 {
  padding: 100px 0;
  font: 44px "Arial";
  text-align: center;
}

header h1 {
  color: white;
}

.paragraph {
  color: white;
  text-align: center;
  padding: 90px;
  font-family: sans-serif;
}

svg {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 10vw;
  /* set height to pixels if you want angle to change with screen width */
}

.btn-primary {
  float: right;
  margin-right: 20px;
  padding-bottom: 10px;
}

.btn-danger {
  float: right;
  margin-right: 20px;
  padding-bottom: 10px;
}

.left-column {
  padding: 15px 15px 0 15px;
  background: rgb(150, 98, 98);
}

.foot {
  text-align: center;
  background-image: linear-gradient(55deg,#488192 25%,#b3d2d8);
  height: 125px;
  width: 100%;
  padding-top: 30px;
  margin-top: 30px;
}

h3 {
  color: white;
}

.picture {
  position: absolute;
  left: 0px;
  top: 0px;
  z-index: 10;
  padding: 70px;
  height: 550px;
  border: 2px solid rgb(112, 110, 110);
  border-radius: 5px;
}

.col s6 progress {
  padding-top: 10px;
}

.col s6 get started {
  margin-bottom: 20px;
}

.col s6 fresh start {
  margin-bottom: 20px;
}