.Kanban {
  width: 75%;
  margin: 10px auto;
  /* margin-top: 10px; */
}

.Kanban-header {
  background-color: #222;
  width: 75%;
  height: 50px;
  padding: 10px;
  color: white;
  margin: 0 auto;
}

.Kanban-intro {
  font-size: small;
  margin: 0;
}

@keyframes Kanban-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}