.whole-board {
  width: 100%;
  margin: 10px auto;
  height: 20px;
}

.Kanban-header {
  background-color:rgba(193, 193, 193, 0.2);
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; 
  color: white;
  margin: 0 auto;
}

.Kanban-intro {
  font-size: small;
  margin: 0;
}

.Kanban-taskboard {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; 
}

.cBXKgf {
  background-color:#111213;
  height:400px !important;
  top:100%;
  flex:1;
  overflow-y: scroll;
}

@keyframes Kanban-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
