.whole-board {
  width: 75%;
  margin: 10px auto;
}

.Kanban-header {
  background-color: #222;
  padding: 10px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px; 
  color: white;
  margin: 0 auto;
}

.Kanban-intro {
  font-size: small;
  margin: 0;
}

.Kanban-taskboard {
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; 
}

@keyframes Kanban-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.wrapper{
  color: black;
}