h1 {
    margin: 0;
    padding: 100px 0;
    font: 44px "Arial";
    text-align: center;
}

.header h1 {
    color: white;
}

.divider {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100px;
    /* drop the height to have a constant angle for all screen widths */
}